---
Checks:          'bugprone-*,cert-*,clang-diagnostic-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,google-*,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-readability-identifier-length,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-modernize-use-trailing-return-type,-cppcoreguidelines-macro-usage,-*-narrowing-conversions,-*-use-auto,-misc-const-correctness,-*-magic-numbers'
FormatStyle:     file
...
